<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>收集表单数据</title>
  <script src="../js/vue.js"></script>
</head>
<body>
<div id="root">
    账号：<input type="text"><br/><br/>
    密码：<input type="password"><br/><br/>
    性别：男<input type="radio" v-model="sex">女<input type="radio" v-model="sex">
</div>
<script>
    Vue.config.productionTip = false;
    const vm = new Vue({
        el: "#root",
        data:{
            account: "",
            password: "",
            sex: "",
            hobby: "",

        }
    })
</script>
</body>
</html>