@font-face {
  font-family: "iconfont"; /* Project id 3215283 */
  src: url('iconfont.woff2?t=1646200914388') format('woff2'),
       url('iconfont.woff?t=1646200914388') format('woff'),
       url('iconfont.ttf?t=1646200914388') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhifubao:before {
  content: "\e600";
}

.icon-a-wo:before {
  content: "\100ab";
}

.icon-gongwenbao:before {
  content: "\100ac";
}

.icon-cunchu:before {
  content: "\100ad";
}

.icon-bofang:before {
  content: "\100ae";
}

.icon-bianji:before {
  content: "\100af";
}

.icon-shanchu:before {
  content: "\100b0";
}

.icon-wode:before {
  content: "\100b1";
}

