/* 解决高度塌陷的问题 */
.clearfix::after,
.clearfix::before {
  content: "";
  /* 清除左右浮动 */
  clear: both;
  /* 设置为table元素 */
  display: table;
}

body {
  /* 设置字体 */
  font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB,
    "\5B8B\4F53", sans-serif;
}
.nav_outer {
  /* 设置宽度 */
  width: 100%;
  /* 设置行高 */
  line-height: 30px;
  /* 设置背景 */
  background-color: #e3e4e5;
}
.nav_core {
  /* 设置宽度 */
  width: 1190px;
  /* 居中对齐 */
  margin: 0 auto;
}
.nav_core a {
  white-space: pre;
  text-decoration: none;
  color: #999;
}
.nav_left {
  /* 左浮动 */
  float: left;
  width: 51px;
  height: 31px;
  box-sizing: border-box;
  border: 1px transparent solid;
}
.current-city > i {
  color: #e33333;
  margin: 0 3px;
}
.current-city > a:hover {
  color: #e33333;
}
.nav_left:hover {
  background-color: white;
  border: 1px #cccccc solid;
  border-bottom: none;
}
.nav_left:hover .city_list {
  display: block;
}
.city_list {
  border: 1px 0 solid #cccccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 402px;
  height: 580px;
  display: none;
}
.line {
  width: 1px;
  height: 11px;
  background-color: rgb(172, 172, 172);
  margin: 10px;
}
.nav_right {
  /* 右浮动 */
  float: right;
}
.nav_right li {
  float: left;
}
.nav_right a:hover {
  color: #e33333;
}
.fa-angle-down {
  font-size: 8px;
}
.highlight {
  color: #e33333 !important;
  font-weight: bold;
}
